/* add your scss tweaks here */
.btn-outline-primary {
    --bs-btn-color: #fd450d;
    --bs-btn-border-color: #fd450d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd450d;
    --bs-btn-hover-border-color: #fd450d;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd450d;
    --bs-btn-active-border-color: #fd450d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd450d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fd450d;
    --bs-gradient: none;
}

.blockquote {
    font-size: 1rem !important;/* Adjust the font size as needed */
    border-left: 5px solid #ccc;
    padding-left: 1rem;
    margin: 1.5rem 0;
}
.blockquote-footer {
    text-align: right;
    font-size: 1rem !important; /* Adjust the font size as needed */
    color: #6c757d;
}
.blockquote-footer cite {
    font-style: normal;
    font-size: 1rem !important;
}

/* Ensure the post list is a flex container */
.post-list {
    display: flex;
    flex-direction: column;
    gap: 1em; /* Add space between items */
  }
  
  /* Style each post item */
  .post-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em; /* Add space between image and content */
  }
  
  /* Style the post content */
  .post-content {
    flex: 1;
  }
  
  /* Style the blog roll image */
  .blog-roll-image {
    max-width: 150px; /* Adjust the size as needed */
    height: auto;
  }

  /* Style the post title */

  h2 {
    font-size: 2rem !important; /* Adjust the font size as needed */
    color: darkslategrey;
  }

  h3 {
    font-size: 1.25rem !important; /* Adjust the font size as needed */
    color: darkslategrey;
  }